@import "viewer.scss";
@import "highlight.scss";

$editor-header-sizes: (
  "h1": 2em,
  "h2": 1.5em,
  "h3": 1.17em,
  "h4": 1em,
  "h5": 0.83em,
  "h6": 0.75em,
);
$editor-border-radius: 5px;

$preview-header-sizes: (
  "h1": 2.4em,
  "h2": 1.9em,
  "h3": 1.57em,
  "h4": 1.4em,
  "h5": 1.23em,
  "h6": 1.15em,
);

.bytemd-split {
  .bytemd-editor {
    width: 100% !important;
  }
  .bytemd-preview {
    display: none;
  }
}

.bytemd {
  // total page height - (computed title height + top padding + bottom padding)
  z-index: 10;
  height: calc(100vh - (78px + 12px + 12px));
  border: unset;
  background-color: var(--chakra-colors-bg);

  &-preview {
    .markdown-body {
      @include viewer;
    }
  }

  &.bytemd-fullscreen {
    width: var(--chakra-sizes-5xl);
    margin: 0 auto;
    .bytemd-toolbar {
      &-left {
        opacity: 0;
        transition: opacity 0.34s ease-in-out;
      }
      &-right [bytemd-tippy-path="2"] {
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
      }
      &-right [bytemd-tippy-path="3"] {
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
      }
      &-right [bytemd-tippy-path="4"] {
        opacity: 1 !important;
      }

      &:hover {
        .bytemd-toolbar-left {
          opacity: 1;
        }
        .bytemd-toolbar-right [bytemd-tippy-path="2"] {
          opacity: 1;
        }
        .bytemd-toolbar-right [bytemd-tippy-path="3"] {
          opacity: 1;
        }
      }
    }
  }

  &-toolbar {
    margin: 0 auto;
    // max-width: 800px;
    // display: none;
    background-color: var(--chakra-colors-bg); //var(--chakra-colors-bgLighter);
    color: var(--chakra-colors-textColor);
    border: unset;
    border-top-left-radius: $editor-border-radius;
    border-top-right-radius: $editor-border-radius;
    padding: 10px 20px;
    max-width: 94%;
    .bytemd-toolbar-icon {
      &:hover {
        background-color: var(--chakra-colors-editorToolBarBgHover);
      }
      &-active {
        color: var(--chakra-colors-accentColor);
      }
    }

    &-right [bytemd-tippy-path="5"],
    &-right [bytemd-tippy-path="0"],
    &-right [bytemd-tippy-path="1"],
    &-right [bytemd-tippy-path="2"] {
      display: none;
    }

    &-right [bytemd-tippy-path="3"] {
      svg {
        opacity: 0;
      }
      background: var(--chakra-colors-textColor);
      &:hover {
        background: var(--chakra-colors-textColor);
      }
      &.bytemd-toolbar-icon-active {
        background: var(--chakra-colors-accentColor);
      }
      mask-repeat: no-repeat;
      mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24' stroke='currentColor' stroke-width='1.5' fill='none' stroke-linecap='round' stroke-linejoin='round' class='css-i6dzq1'%3E%3Cpath d='M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z'%3E%3C/path%3E%3Ccircle cx='12' cy='12' r='3'%3E%3C/circle%3E%3C/svg%3E");
    }

    &-left [bytemd-tippy-path="13"],
    &-left [bytemd-tippy-path="0"] {
      display: none;
    }
  }

  &-status {
    display: none;
  }
}

.tippy-box {
  color: white;
  background-color: var(--chakra-colors-tooltipBg);
  font-size: small;
  border-radius: 10px;
  box-shadow: var(--chakra-shadows-base);
  .tippy-content {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .tippy-arrow {
    color: var(--chakra-colors-tooltipBg);
  }
}

@media screen and (prefers-color-scheme: dark) {
  .tippy-box[data-theme~="light-border"] {
    color: white;
    background-color: #2a2a2e !important;
    border-radius: 10px;
    box-shadow: var(--chakra-shadows-base) !important;
    .tippy-content {
      padding: unset;
    }
    .bytemd-dropdown {
      max-height: 350px;
      .bytemd-dropdown-item {
        font-size: small;
        border-radius: 5px;
        margin: 5px;
        padding: 4px 10px;
        &:hover {
          background-color: #333439 !important;
        }
      }
    }
  }
}

.cm-s-wrighter-dark {
  font-size: 1em !important;
  line-height: 1.5em;
  font-family: "IBMPlexMono", monospace !important;
  letter-spacing: 0.3px;
  word-spacing: 1px;
  background: var(--chakra-colors-bg);
  color: var(--chakra-colors-textColor);
  border-bottom-right-radius: $editor-border-radius;
  border-bottom-left-radius: $editor-border-radius;

  .CodeMirror-vscrollbar {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }

  &:hover {
    .CodeMirror-vscrollbar {
      opacity: 1;
    }
  }

  .CodeMirror-lines {
    max-width: calc(100% - 6%) !important;
    // margin: unset !important;
    margin-left: 20px !important;
    .CodeMirror-line {
      // padding: 0 0 !important;
      font-weight: 450;
      .cm-formatting {
        color: var(--chakra-colors-textLighter);
        font-weight: 400 !important;
      }

      .cm-formatting-quote {
        position: relative;
      }

      .cm-formatting-quote::before {
        content: " ";
        background-color: var(--chakra-colors-editorQuoteFormatting);
        width: 3px;
        left: -18px;
        border-radius: 6px;
        height: 3ch;
        position: absolute;
      }

      .cm-formatting-header {
        opacity: 0.6;
        &-1 {
          margin-left: -2ch;
        }
        &-2 {
          margin-left: -3ch; //calc(2ch - #{map-get($map: $editor-header-sizes, $key: "h2")} * 2) !important;
        }
        &-3 {
          margin-left: -4ch;
        }
        &-4 {
          margin-left: -5ch;
        }
        &-5 {
          margin-left: -6ch;
        }
        &-6 {
          margin-left: -7ch;
        }
      }

      .cm-formatting-list-ul,
      .cm-formatting-list-ol {
        margin-left: 10px;
      }

      .cm-formatting-strong,
      .cm-formatting-em,
      .cm-formatting-strikethrough {
        opacity: 0.5;
      }

      .cm-formatting-task {
        &.cm-property {
          color: var(--chakra-colors-green-300);
        }
      }

      .cm-formatting-link {
        + .cm-link {
          font-style: italic;
          font-weight: 500;
        }
      }

      .cm-url {
        color: var(--chakra-colors-textLighter);
      }

      .cm-comment {
        color: var(--chakra-colors-textLight);
        opacity: 0.8;
      }

      .cm-hr {
        color: var(--chakra-colors-textLighter);
        font-weight: 400 !important;
        letter-spacing: -2px;
      }

      .cm-keyword {
        &:not(.cm-formatting) {
          color: var(--chakra-colors-textColor);
        }
      }

      .cm-header {
        &-1 {
          font-size: map-get($map: $editor-header-sizes, $key: "h1");
          font-weight: 700 !important;
        }
        &-2 {
          font-size: map-get($map: $editor-header-sizes, $key: "h2");
          font-weight: 700 !important;
        }
        &-3 {
          font-size: map-get($map: $editor-header-sizes, $key: "h3");
          font-weight: 500 !important;
        }
        &-4 {
          font-size: map-get($map: $editor-header-sizes, $key: "h4");
          font-weight: 500 !important;
        }
        &-5 {
          font-size: map-get($map: $editor-header-sizes, $key: "h5");
          font-weight: 500 !important;
        }
        &-6 {
          font-size: map-get($map: $editor-header-sizes, $key: "h6");
          font-weight: 500 !important;
        }
      }
    }
  }

  .CodeMirror-gutters {
    box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.5);
    background-color: #211e1e;
    padding-right: 10px;
    z-index: 3;
    border: none;
  }
  div.CodeMirror-cursor {
    border-left: 3px solid #dadada;
  }
  .CodeMirror-activeline-background {
    background: #353030;
  }
  .CodeMirror-selected {
    background: #73597e80;
  }
  .cm-comment {
    color: #555555;
  }
  .cm-string {
    color: #ad9361;
  }
  .cm-number {
    color: #a1a1ff;
  }
  .cm-keyword {
    color: #a1a1ff;
  }
  .cm-property {
    color: #a1a1ff;
  }
  .cm-atom {
    color: #a1a1ff;
  }
  .cm-operator {
    color: #a1a1ff;
  }
  .CodeMirror-linenumber {
    color: #555555;
  }
}

@media screen and (max-width: 48em) {
  .bytemd {
    .CodeMirror-lines {
      max-width: calc(100%) !important;
      margin-left: 0px !important;
    }

    &-toolbar {
      font-family: "Avenir";
      padding: 10px 0px;
      .bytemd-toolbar-left {
        opacity: 1 !important;
      }
      .bytemd-toolbar-tab-active {
        color: var(--chakra-colors-accentColor);
      }
    }

    .markdown-body {
      margin-left: 0px !important;
    }
  }
}

// fix a bug in medium zoom
.medium-zoom-overlay ~ .medium-zoom-overlay {
  display: none !important;
}

#wright-preview {
  .markdown-body {
    margin-left: 0px !important;
    @include viewer;
  }
}

.markdown-body {
  pre {
    margin: 0.8em 0 !important;

    code {
      border-radius: 7px !important;
    }
  }
}
