@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap");
@font-face {
  font-family: "Avenir LT Std";
  src: local("Avenir LT Std 55 Roman"), local("AvenirLTStd-Roman"), url("/fonts/AvenirLTStd-Roman.woff2") format("woff2"),
    url("/fonts/AvenirLTStd-Roman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir LT Std";
  src: local("Avenir LT Std 55 Mediumm"), local("AvenirLTStd-Medium"), url("/fonts/Avenir-Medium.woff2") format("woff2"),
    url("/fonts/Avenir-Medium.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir LT Std";
  src: local("Avenir LT Std 55 Oblique"), local("AvenirLTStd-Oblique"), url("/fonts/Avenir-Oblique.woff2") format("woff2"),
    url("/fonts/Avenir-Oblique.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Avenir LT Std";
  src: local("Avenir LT Std 95 Black"), local("AvenirLTStd-Black"), url("/fonts/AvenirLTStd-Black.woff2") format("woff2"),
    url("/fonts/AvenirLTStd-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir LT Std";
  src: local("Avenir LT Std 45 Book"), local("AvenirLTStd-Book"), url("/fonts/AvenirLTStd-Book.woff2") format("woff2"),
    url("/fonts/AvenirLTStd-Book.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir LT Std";
  src: local("Avenir LT Std 45 Book"), local("AvenirLTStd-Book"), url("/fonts/AvenirLTStd-Book.woff2") format("woff2"),
    url("/fonts/AvenirLTStd-Book.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBMPlexMono";
  src: local("IBMPlexMono Regular"), local("IBMPlexMono-Regular"), url("/fonts/IBMPlexMono-Regular.woff2") format("woff2"),
    url("/fonts/IBMPlexMono-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBMPlexMono";
  src: local("IBMPlexMono Italic"), local("IBMPlexMono-Italic"), url("/fonts/IBMPlexMono-Italic.woff2") format("woff2"),
    url("/fonts/IBMPlexMono-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "IBMPlexMono";
  src: local("IBMPlexMono Text"), local("IBMPlexMono-Text"), url("/fonts/IBMPlexMono-Text.woff2") format("woff2"),
    url("/fonts/IBMPlexMono-Text.woff") format("woff");
  font-weight: 450;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBMPlexMono";
  src: local("IBMPlexMono Text Italic"), local("IBMPlexMono-TextItalic"),
    url("/fonts/IBMPlexMono-TextItalic.woff2") format("woff2"), url("/fonts/IBMPlexMono-TextItalic.woff") format("woff");
  font-weight: 450;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "IBMPlexMono";
  src: local("IBMPlexMono Medium"), local("IBMPlexMono-Medium"), url("/fonts/IBMPlexMono-Medium.woff2") format("woff2"),
    url("/fonts/IBMPlexMono-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBMPlexMono";
  src: local("IBMPlexMono Medium Italic"), local("IBMPlexMono-MediumItalic"),
    url("/fonts/IBMPlexMono-MediumItalic.woff2") format("woff2"), url("/fonts/IBMPlexMono-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "IBMPlexMono";
  src: local("IBMPlexMono Bold"), local("IBMPlexMono-Bold"), url("/fonts/IBMPlexMono-Bold.woff2") format("woff2"),
    url("/fonts/IBMPlexMono-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBMPlexMono";
  src: local("IBMPlexMono Bold Italic"), local("IBMPlexMono-BoldItalic"),
    url("/fonts/IBMPlexMono-BoldItalic.woff2") format("woff2"), url("/fonts/IBMPlexMono-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "IBMPlexMono";
  src: local("IBMPlexMono Thin"), local("IBMPlexMono-Thin"), url("/fonts/IBMPlexMono-Thin.woff2") format("woff2"),
    url("/fonts/IBMPlexMono-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBMPlexMono";
  src: local("IBMPlexMono Thin Italic"), local("IBMPlexMono-ThinItalic"),
    url("/fonts/IBMPlexMono-ThinItalic.woff2") format("woff2"), url("/fonts/IBMPlexMono-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

body {
  font-family: "Avenir LT Std";
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#waves-bg {
  opacity: 1;
  background-color: var(--chakra-colors-landingPageBgColor);
  mask-image: linear-gradient(360deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%), url("/bgWaves.svg");
}
#waves-bg-overlay {
  background: linear-gradient(360deg, var(--chakra-colors-bg) 0%, rgba(0, 0, 0, 0) 130%);
}

#texture {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9999999999999999;
  width: 100%;
  height: calc(100vh + 200px);
  opacity: 0.12;
  pointer-events: none;
  transform: translateY(0px);
}

@media only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-device-pixel-ratio: 2) {
  #texture.dark-tex {
    opacity: 0.18;
  }

  #texture.light-tex {
    opacity: 0.2;
    filter: contrast(100%) brightness(80%) !important;
  }
}

.shake {
  animation-name: anim_shake 0.4s 1 linear;
  -webkit-animation: anim_shake 0.4s 1 linear;
  -moz-animation: anim_shake 0.4s 1 linear;
  -o-animation: anim_shake 0.4s 1 linear;
}
@-webkit-keyframes anim_shake {
  0% {
    -webkit-transform: translate(30px);
  }
  20% {
    -webkit-transform: translate(-30px);
  }
  40% {
    -webkit-transform: translate(15px);
  }
  60% {
    -webkit-transform: translate(-15px);
  }
  80% {
    -webkit-transform: translate(8px);
  }
  100% {
    -webkit-transform: translate(0px);
  }
}
@-moz-keyframes anim_shake {
  0% {
    -moz-transform: translate(30px);
  }
  20% {
    -moz-transform: translate(-30px);
  }
  40% {
    -moz-transform: translate(15px);
  }
  60% {
    -moz-transform: translate(-15px);
  }
  80% {
    -moz-transform: translate(8px);
  }
  100% {
    -moz-transform: translate(0px);
  }
}
@-o-keyframes anim_shake {
  0% {
    -o-transform: translate(30px);
  }
  20% {
    -o-transform: translate(-30px);
  }
  40% {
    -o-transform: translate(15px);
  }
  60% {
    -o-transform: translate(-15px);
  }
  80% {
    -o-transform: translate(8px);
  }
  100% {
    -o-origin-transform: translate(0px);
  }
}
@keyframes anim_shake {
  0% {
    transform: translate(30px);
  }
  20% {
    transform: translate(-30px);
  }
  40% {
    transform: translate(15px);
  }
  60% {
    transform: translate(-15px);
  }
  80% {
    transform: translate(8px);
  }
  100% {
    origin-transform: translate(0px);
  }
}

#nprogress .bar {
  background: var(--chakra-colors-accentColor) !important;
}

#nprogress .spinner-icon {
  border-top-color: var(--chakra-colors-accentColor) !important;
  border-left-color: var(--chakra-colors-accentColor) !important;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--chakra-colors-bgLight);
  border-radius: 6px;
}

.fade-in {
  animation-duration: 0.3s;
  animation-name: animate-fade;
  animation-delay: 0s;
  animation-fill-mode: backwards;
}

.slide-in-left {
  animation-duration: 0.3s;
  animation-name: animate-fade;
  animation-delay: 0s;
  animation-fill-mode: backwards;
}

@keyframes animate-fade {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes animate-slide-in-left {
  0% {
    transform: translateX(50px);
  }
  100% {
    transform: translateY(0px);
  }
}
