@font-face {
  font-family: "Avenir LT Std";
  src: local("Avenir LT Std 55 Roman"), local("AvenirLTStd-Roman"), url("/fonts/AvenirLTStd-Roman.woff2") format("woff2"),
    url("/fonts/AvenirLTStd-Roman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir LT Std";
  src: local("Avenir LT Std 55 Mediumm"), local("AvenirLTStd-Medium"), url("/fonts/Avenir-Medium.woff2") format("woff2"),
    url("/fonts/Avenir-Medium.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir LT Std";
  src: local("Avenir LT Std 55 Oblique"), local("AvenirLTStd-Oblique"), url("/fonts/Avenir-Oblique.woff2") format("woff2"),
    url("/fonts/Avenir-Oblique.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Avenir LT Std";
  src: local("Avenir LT Std 95 Black"), local("AvenirLTStd-Black"), url("/fonts/AvenirLTStd-Black.woff2") format("woff2"),
    url("/fonts/AvenirLTStd-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir LT Std";
  src: local("Avenir LT Std 45 Book"), local("AvenirLTStd-Book"), url("/fonts/AvenirLTStd-Book.woff2") format("woff2"),
    url("/fonts/AvenirLTStd-Book.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir LT Std";
  src: local("Avenir LT Std 45 Book"), local("AvenirLTStd-Book"), url("/fonts/AvenirLTStd-Book.woff2") format("woff2"),
    url("/fonts/AvenirLTStd-Book.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBMPlexMono";
  src: local("IBMPlexMono Regular"), local("IBMPlexMono-Regular"), url("/fonts/IBMPlexMono-Regular.woff2") format("woff2"),
    url("/fonts/IBMPlexMono-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBMPlexMono";
  src: local("IBMPlexMono Italic"), local("IBMPlexMono-Italic"), url("/fonts/IBMPlexMono-Italic.woff2") format("woff2"),
    url("/fonts/IBMPlexMono-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "IBMPlexMono";
  src: local("IBMPlexMono Text"), local("IBMPlexMono-Text"), url("/fonts/IBMPlexMono-Text.woff2") format("woff2"),
    url("/fonts/IBMPlexMono-Text.woff") format("woff");
  font-weight: 450;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBMPlexMono";
  src: local("IBMPlexMono Text Italic"), local("IBMPlexMono-TextItalic"),
    url("/fonts/IBMPlexMono-TextItalic.woff2") format("woff2"), url("/fonts/IBMPlexMono-TextItalic.woff") format("woff");
  font-weight: 450;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "IBMPlexMono";
  src: local("IBMPlexMono Medium"), local("IBMPlexMono-Medium"), url("/fonts/IBMPlexMono-Medium.woff2") format("woff2"),
    url("/fonts/IBMPlexMono-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBMPlexMono";
  src: local("IBMPlexMono Medium Italic"), local("IBMPlexMono-MediumItalic"),
    url("/fonts/IBMPlexMono-MediumItalic.woff2") format("woff2"), url("/fonts/IBMPlexMono-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "IBMPlexMono";
  src: local("IBMPlexMono Bold"), local("IBMPlexMono-Bold"), url("/fonts/IBMPlexMono-Bold.woff2") format("woff2"),
    url("/fonts/IBMPlexMono-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBMPlexMono";
  src: local("IBMPlexMono Bold Italic"), local("IBMPlexMono-BoldItalic"),
    url("/fonts/IBMPlexMono-BoldItalic.woff2") format("woff2"), url("/fonts/IBMPlexMono-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "IBMPlexMono";
  src: local("IBMPlexMono Thin"), local("IBMPlexMono-Thin"), url("/fonts/IBMPlexMono-Thin.woff2") format("woff2"),
    url("/fonts/IBMPlexMono-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBMPlexMono";
  src: local("IBMPlexMono Thin Italic"), local("IBMPlexMono-ThinItalic"),
    url("/fonts/IBMPlexMono-ThinItalic.woff2") format("woff2"), url("/fonts/IBMPlexMono-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

body {
  font-family: "Avenir LT Std";
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.shake {
  animation-name: anim_shake 0.4s 1 linear;
  -webkit-animation: anim_shake 0.4s 1 linear;
  -moz-animation: anim_shake 0.4s 1 linear;
  -o-animation: anim_shake 0.4s 1 linear;
}
@-webkit-keyframes anim_shake {
  0% {
    -webkit-transform: translate(30px);
  }
  20% {
    -webkit-transform: translate(-30px);
  }
  40% {
    -webkit-transform: translate(15px);
  }
  60% {
    -webkit-transform: translate(-15px);
  }
  80% {
    -webkit-transform: translate(8px);
  }
  100% {
    -webkit-transform: translate(0px);
  }
}
@-moz-keyframes anim_shake {
  0% {
    -moz-transform: translate(30px);
  }
  20% {
    -moz-transform: translate(-30px);
  }
  40% {
    -moz-transform: translate(15px);
  }
  60% {
    -moz-transform: translate(-15px);
  }
  80% {
    -moz-transform: translate(8px);
  }
  100% {
    -moz-transform: translate(0px);
  }
}
@-o-keyframes anim_shake {
  0% {
    -o-transform: translate(30px);
  }
  20% {
    -o-transform: translate(-30px);
  }
  40% {
    -o-transform: translate(15px);
  }
  60% {
    -o-transform: translate(-15px);
  }
  80% {
    -o-transform: translate(8px);
  }
  100% {
    -o-origin-transform: translate(0px);
  }
}
@keyframes anim_shake {
  0% {
    transform: translate(30px);
  }
  20% {
    transform: translate(-30px);
  }
  40% {
    transform: translate(15px);
  }
  60% {
    transform: translate(-15px);
  }
  80% {
    transform: translate(8px);
  }
  100% {
    origin-transform: translate(0px);
  }
}
