@mixin linkOnHeading {
  & {
    a[aria-hidden="true"] {
      position: absolute;
      text-decoration: none;
      color: var(--chakra-colors-textLighter);
      opacity: 0;
      transform: translateX(-10px);
      transition: all 0.06s ease-in-out;
      span.icon-link::after {
        content: "#";
      }
    }
    &:hover {
      a[aria-hidden="true"] {
        opacity: 0.5;
        transform: translateX(5px);
      }
    }
  }
}

@mixin viewer {
  & {
    color: var(--chakra-colors-textColor);
    font-size: 18px;
    font-family: "Avenir";
    max-width: calc(100%) !important;
    margin-left: 20px;
    line-height: 1.6;

    p {
      margin-top: 16px;
      margin-bottom: 16px;
    }

    figure {
      margin: 20px auto;
      img {
        border-radius: 7px;
        box-shadow: var(--chakra-shadows-md);
        margin: 0 auto;
      }
      figcaption {
        font-style: italic;
        text-align: center;
        margin-top: 8px;
        font-size: 0.89em;
        color: var(--chakra-colors-textLighter);
        opacity: 0.9;
      }
    }

    blockquote {
      font-style: italic;
      font-weight: 500;
      opacity: 0.7;
      margin: 30px 20px;
      font-size: 1.1em;
    }

    strong {
      font-weight: 800;
    }

    code {
      letter-spacing: -0.5px;
      font-family: "IBMPlexMono", "SFMono-Regular", Consolas;
      background-color: var(--chakra-colors-bgLighter);
      color: var(--chakra-colors-textLighter);
      padding-top: 3px;
      padding-bottom: 3px;
      padding-left: 5px;
      padding-right: 5px;
      border-radius: 4px;
      font-size: 17px;
    }

    a {
      color: var(--chakra-colors-biteAccentColor);
      code {
        color: var(--chakra-colors-biteAccentColor);
      }
    }

    ul,
    ol {
      margin: 0.5em 2.5em;
      ul,
      ol {
        margin: 0.2em 1.6em;
      }
    }

    @media screen and (max-width: 48em) {
      ul,
      ol {
        margin: 0.5em 1.2em;
        ul,
        ol {
          margin: 0.2em 0.4em;
        }
      }
    }

    math {
      overflow-x: auto;
    }

    hr {
      margin-top: 30px;
      margin-bottom: 30px;
    }

    table {
      @media screen and (max-width: 30em) {
        & {
          display: block;
          overflow-x: auto;
        }
      }
      width: 100%;
      background-color: var(--chakra-colors-bgLighter);
      border-radius: 7px;
      // box-shadow: var(--chakra-shadows-base);
      margin: 1.2em 0;
      thead {
        background-color: var(--chakra-colors-bgLight);
      }
      th {
        text-align: left;
        padding: 10px;
        &:first-child {
          border-top-left-radius: 7px;
        }
        &:last-child {
          border-top-right-radius: 7px;
        }
      }

      td {
        padding: 8px 10px;

        &:hover {
          background-color: var(--chakra-colors-bgLight);
        }
      }

      tbody {
        tr {
          &:not(&:last-child) {
            border-bottom: 1px solid var(--chakra-colors-containerBorder);
          }
          &:last-child {
            td {
              padding-bottom: 10px;
            }
          }
        }
      }
    }

    h1 {
      font-size: map-get($map: $preview-header-sizes, $key: "h1");
      font-weight: 800 !important;
      line-height: 1.4;
      margin: 0.4em 0;
      position: relative;
      @include linkOnHeading;
    }
    h2 {
      font-size: map-get($map: $preview-header-sizes, $key: "h2");
      font-weight: 700 !important;
      line-height: 1.2;
      margin-top: 0.7em;
      margin-bottom: 0.4em;
      @include linkOnHeading;
    }
    h3 {
      font-size: map-get($map: $preview-header-sizes, $key: "h3");
      font-weight: 500 !important;
      line-height: 1;
      margin: 0.5em 0;
      @include linkOnHeading;
    }
    h4 {
      font-size: map-get($map: $preview-header-sizes, $key: "h4");
      font-weight: 500 !important;
    }
    h5 {
      font-size: map-get($map: $preview-header-sizes, $key: "h5");
      font-weight: 500 !important;
    }
    h6 {
      font-size: map-get($map: $preview-header-sizes, $key: "h6");
      font-weight: 400 !important;
    }
  }
}
